@keyframes boomerang {
   0%,100% {
       background-color:purple;
   }

   50% {
       background-color:blue;
   }
}

.square {
    height: 500px;
    width: 500px;
    margin:auto;
    background-color: red;
    animation-name:boomerang;
    animation-duration: 4s;
    animation-iteration-count:infinite; 
}

