.section {
    width:100%;
    height:400px;
    background-color: black;
}

.trap {
    margin:auto;
    height:380px;
    width:480px;
    background-image:url("http://s.ngm.com/2011/12/city-solutions/img/singapore-infinity-pool-615.jpg");
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
